.layout-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 var(--layout-padding, 20px);
    box-sizing: border-box;
    width: 100%;
}

.layout-main {
    width: 100%;
}

.layout-footer {
    margin-top: 1.5rem;
    padding: 2rem 0;
    text-align: center;
    border-top: 2px solid black;
    font-family: var(--font-mono);
    font-size: 0.8rem;
    width: 100%;
}